<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="net.openright" level="debug" />

	<logger name="org.eclipse.jetty" level="warn" />
	<logger name="com.zaxxer.hikari" level="warn" />
  <logger name="org.flywaydb" level="warn" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
