input[type=number] {
  text-align: right;
}


#orderContents {
  padding-top: 1em;
  padding-left: 1em;
}


.notify {
  display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
}

.notify h2 {
  margin-bottom: 6px;
  text-align: center;
  overflow: hidden;
}

 
.notify h2:before, .notify h2:after  {
  /* Stripes around the header */
  content: "";
  display: inline-block;
  width: 20%;
  height: 1px;
  vertical-align: middle;
}

.notify .alerticon { 
  display: block;
  text-align: center;
  width: 400px;
  height: 54px;
  margin-bottom: 10px;
}

.notify.info h2:before, .notify.info h2:after { background: #0080ff; }
.notify.info h2, .info .alerticon { color: #0000a0; }
.info .alerticon:before { content:"\f071"; }

.notify.success h2:before, .notify.success h2:after { background: #cad8a9; }
.notify.success h2, .success .alerticon { color: #678361; }
.success .alerticon:before { content:"\f058"; }

.notify.warning h2:before, .notify.warning h2:after { background: #ff8040; }
.notify.warning h2, .warning .alerticon { color: #ff5c0f; }
.warning .alerticon:before { content:"\f071"; }

.notify.error h2:before, .notify.error h2:after { background: #d6b8b7; }
.notify.error h2, .error .alerticon { color: #6f423b; }
.error .alerticon:before { content:"\f06a"; }
